# 1. Introduction to FA

## Inflation

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
pip install Quandl

Collecting Quandl
  Downloading Quandl-3.6.1-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.8 in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from Quandl) (1.19.5)
Requirement already satisfied: python-dateutil in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from Quandl) (2.8.1)
Requirement already satisfied: pandas>=0.14 in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from Quandl) (1.2.3)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: requests>=2.7.0 in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from Quandl) (2.25.1)
Collecting more-itertools
  Downloading more_itertools-8.7.0-py3-none-any.whl (48 kB)
Requirement already satisfied: six in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from Quandl) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.14->Quandl) (2021.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.7.0->Quandl) (1.26.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.7.0->Quandl) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.7.0->Quandl) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\revei\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.7.0->Quandl) (2020.12.5)
Installing collected packages: more-itertools, inflection, Quandl
Successfully installed Quandl-3.6.1 inflection-0.5.1 more-itertools-8.7.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
import quandl

In [9]:
data=quandl.get("UGID/WPR_IND", authtoken="gzUcpem98yniDrTm9Tf_")

In [10]:
data

            PPI / WPI; INDEX NUMBER
Date
1948-12-31                  3.25101
1949-12-31                  3.38105
1950-12-31                  3.55699
1951-12-31                  3.89356
1952-12-31                  3.42695
...                             ...
2005-12-31                100.00000
2006-12-31                104.74100
2007-12-31                109.77000
2008-12-31                119.76800
2009-12-31                122.34700

[62 rows x 1 columns]

In [11]:
data['shift']=data.shift( periods=1)

In [21]:
data['inflation rate']=round(((data.iloc[:,0]-data['shift'])/data['shift'])*100,4)

In [22]:
data

            PPI / WPI; INDEX NUMBER      shift  inflation rate
Date
1948-12-31                  3.25101        NaN             NaN
1949-12-31                  3.38105    3.25101          4.0000
1950-12-31                  3.55699    3.38105          5.2037
1951-12-31                  3.89356    3.55699          9.4622
1952-12-31                  3.42695    3.89356        -11.9841
...                             ...        ...             ...
2005-12-31                100.00000   95.49160          4.7213
2006-12-31                104.74100  100.00000          4.7410
2007-12-31                109.77000  104.74100          4.8014
2008-12-31                119.76800  109.77000          9.1081
2009-12-31                122.34700  119.76800          2.1533

[62 rows x 3 columns]

In [41]:
dataset=pd.read_excel('rbi-cpi.xlsx',sheet_name=1)

c:\users\revei\appdata\local\programs\python\python39\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [42]:
new_data=dataset.drop(['Unnamed: 0','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 10','Unnamed: 1'],axis=1)

In [43]:
new_data.columns=['month','commodity description','rural','urban','combined']

In [44]:
new_data.dropna()

         month               commodity description  rural  urban  combined
4        Month               Commodity Description  Rural  Urban  Combined
6     FEB-2021                    A) General Index  156.7  156.5     156.6
7     FEB-2021             A.1) Food and beverages  154.7  160.8     156.9
8     FEB-2021         A.1.1) Cereals and products  142.8  147.6     144.3
9     FEB-2021                A.1.2) Meat and fish    184  191.2     186.5
...        ...                                 ...    ...    ...       ...
4718  JAN-2013                       A.6.2) Health    104  104.1       104
4719  JAN-2013  A.6.3) Transport and communication  103.3  103.2     103.2
4720  JAN-2013     A.6.4) Recreation and amusement  103.4  102.9     103.1
4721  JAN-2013                    A.6.5) Education  103.8  103.5     103.6
4722  JAN-2013    A.6.6) Personal Care and Effects  104.7  104.3     104.5

[4534 rows x 5 columns]

In [48]:
def real_return(ir,ar):
    rr=round(ar-ir,2)
    print('real return for given inflation - {} , actual return - {} is {}'.format(ir,ar,rr))

In [49]:
real_return(0.04,0.1)

real return for given inflation - 0.04 , actual return - 0.1 is 0.06

## Banking Rates

In [50]:
url='https://www.rbi.org.in/home.aspx'

In [59]:
banking_data=pd.read_html(url)

In [62]:
repo=banking_data[0]

In [117]:
rbi_rates=banking_data[1]

In [64]:
lending=banking_data[3]

In [66]:
market=banking_data[4]

In [118]:
rbi_rates

     0          1
0  CRR   :  3.50%
1  SLR  :  18.00%

In [116]:
def lending_amount(crr,slr,deposite):
    lending_amount=deposite-(deposite*(crr+slr))
    crr_amount=deposite*crr
    slr_amount=deposite*slr
    print('lending amount:{}, crr amount: {}, and slr amount: {}'.format(lending_amount,crr_amount,slr_amount))

In [119]:
lending_amount(0.035,0.18,1000)

lending amount:785.0, crr amount: 35.0, and slr amount: 180.0